# Ignore environment variable files
.env
.env.*
deploy/configs/development.env

# Ignore compiled binaries
bin/

# Ignore node dependencies
node_modules/

# Ignore Go build cache and vendor
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Ignore IDE/editor files
.vscode/
.idea/
*.swp
*~
.DS_Store